body {position:absolute; width: 80%; margin-left: 10%; margin-top: 100px; background-color: #ff0000}
.left {/* */}

.line {background-color:orange; width: 5%; float: right; margin-right: 20px}

article {display: inline; position: relative; width: 70%; background-color: #0000ff; float: right}

aside {display: inline; position: relative; width: 30%; height: 100%; background-color: #ffffff; float: right}
